.friends__block {
  display: flex;
  padding-top: 50px;
  justify-content: start;
  font-size: 14px;
  flex-wrap: wrap;
  flex-direction: row;
  gap:1rem;
  
}

.friends__block img {
  width: 40px;
  border-radius: 50%;
  display: block;
  cursor: pointer;

}
