.app-wrapper {
  display: grid;
  width: 1200px;
  margin:0 auto;

  grid-template-areas:
    'h h '
    'n c ';

  grid-template-rows: 100px 1fr;
  grid-template-columns: 200px 1fr;
  /* grid-gap: 10px; */
}

.app-wrapper-content {
  grid-area: c;
  background-color: rgb(35, 126, 126);
}